.html {
    box-sizing: border-box;
    background: white;
    font-family: 'Merriweather', serif;
}

body{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    height: 10px;
    width:100%;
    margin:2px;
}

.container{
    margin-left: 54px;
    margin-right: 43px;
    margin-top: 5px;
}
.gallery {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:185px auto;
    grid-gap:18px;
}
.gallery a {
    width: 200px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin: 1px 1px;
   
}
footer{
    height: 10px;
    width:100%;
    margin:2px;
}




*{border:1px solid red;}